{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div>Homepage</div>
    <p>
        <a href="{{ path('app_logout') }}">Logout</a>
    </p>
{% endblock %}
