{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div>Homepage</div>
        <p>
            <a href="{{ path('update_user') }}">Update user</a>
        </p>
        <p>
            <a href="{{ path('app_logout') }}">Logout</a>
        </p>
{% endblock %}
