{% extends 'base.html.twig' %}

{% block title %}Update user{% endblock %}

{% block body %}
    <h1>Update user</h1>

    {{ form(form) }}

    <p>
        <a href="{{ path('delete_user') }}">Delete</a>
    </p>
{% endblock %}
